<!DOCTYPE HTML>
<html xmlns=http://www.w3.org/1999/xhtml
xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Event</title>
    <meta http-equiv="Content-Type" content="text/html;
    charset=UTF-8" />
</head>
<body>
    <p th:text="${listEvents}" />
    
    <table>
        <thead>
            <tr>
              <th>Intitule</th>
              <th>Theme</th>
              <th>Starting Date</th>
              <th>Duration</th>
              <th>Place</th>
              <th>Description</th>
              <th>Organisator</th>
              <th>Type</th>
              <th>Participants</th>
            </tr>
        </thead>
        <thbody>
            <th:block th:each="e : ${listEvents}">
               <tr>
                  <td th:text="${e.intitule}">...</td>
                  <td th:text="${e.theme}">...</td>
                  <td th:text="${e.starting_date}">...</td>
                  <td th:text="${e.duration}">...</td>
                  <td th:text="${e.nb_part_max}">...</td>
                  <td th:text="${e.description}">...</td>
                  <td th:text="${e.organisator}">...</td>
                  <td th:text="${e.event_type}">...</td>
                  <td><a href="/event/listParticipants">List</a></td>
               </tr>
            </th:block>
        </thbody>
    </table>
</body>
</html>
