<!DOCTYPE HTML>
<html xmlns=http://www.w3.org/1999/xhtml
xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Event</title>
    <meta http-equiv="Content-Type" content="text/html;
    charset=UTF-8" />
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    
    <!-- Nav Bar -->
    <ul class="nav navbar-light bg-light justify-content-between">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <h4 class="nav-link disabled" href="#">List of Events</h4>
        </li>
        
        <li></li>
    </ul>
    
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
              <th scope="col">Intitule</th>
              <th scope="col">Theme</th>
              <th scope="col">Starting Date</th>
              <th scope="col">Duration</th>
              <th scope="col">Place</th>
              <th scope="col">Description</th>
              <th scope="col">Organisator</th>
              <th scope="col">Type</th>
              <th scope="col">Participants</th>
            </tr>
        </thead>
        <thbody>
            <th:block th:each="e : ${listEvents}" scope="row">
               <tr>
                  <td th:text="${e.intitule}">...</td>
                  <td th:text="${e.theme}">...</td>
                  <td th:text="${e.starting_date}">...</td>
                  <td th:text="${e.duration}">...</td>
                  <td th:text="${e.nb_part_max}">...</td>
                  <td th:text="${e.description}">...</td>
                  <td th:text="${e.organisator}">...</td>
                  <td th:text="${e.event_type}">...</td>
                  <td>
                      <a th:href="@{/event/listParticipants/{id}(id=${e.num_event})}"class="btn btn-secondary">List</a>
                      <a th:href="@{/addParticipant/{id}(id=${e.num_event})}"class="btn btn-secondary">Participate</a>
                  </td>
               </tr>
            </th:block>
        </thbody>
    </table>
</body>
</html>