<!DOCTYPE HTML>
<html xmlns=http://www.w3.org/1999/xhtml
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Projet Spring Hibernate</title>
    <meta http-equiv="Content-Type" content="text/html;
    charset=UTF-8" />
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <p>Hello World</p>
    
    <a class="btn btn-secondary" href="/participant/all">See all participants</a>
    <a class="btn btn-secondary" href="/event/all">See all events</a>
    
    <!--
    <a class="btn" th:href="@{/addParticipant}">Add a new Participant</a>
    -->
    
</body>
</html>

