<!DOCTYPE HTML>
<html xmlns=http://www.w3.org/1999/xhtml
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Projet Spring Hibernate</title>
<meta http-equiv="Content-Type" content="text/html;
    charset=UTF-8" />

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
</head>
<body>

	<!-- Nav Bar -->
	<ul class="nav navbar-light bg-light justify-content-between">
		<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
		<li class="nav-item">
			<h4 class="nav-link disabled" href="#">List of Participants</h4>
		</li>

		<li class="nav-item"><a class="nav-link" href="/event/all">See all events</a></li>
	</ul>

	<!-- Error Handler -->
	<!-- Check if errorMessage is not null and not empty -->
	<div th:if="${errorMessage}" th:utext="${errorMessage}"
		style="color: red; font-style: italic;">...</div>


	<!-- If a particular event, display its intitule -->
	<ul class="nav justify-content-between" th:if="${event} != null">
		<li class="nav-item">
			<h4 class="nav-link disabled" th:text="'Event: ' + ${event.intitule}"></h4>
		</li>
		<li class="nav-item"><a
			th:href="@{/addParticipant/{id}(id=${event.num_event})}"
			class="nav-link btn-outline-primary">Add participant</a>
	</ul>

	<!-- Table for listing Participant -->
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover">
			<thead class="thead-dark">
				<tr>
					<th scope="col-2">Name</th>
					<th scope="col-2">FirstName</th>
					<th scope="col-2">Email</th>
					<th scope="col">Birth Date</th>
					<th scope="col">Organisation</th>
					<th th:if="${event} == null" scope="col">Event</th>
					<th scope="col-1">Info</th>
				</tr>
			</thead>
			<thbody> <th:block th:each="p : ${listParticipant}"
				scope="row">
				<tr>
					<td th:text="${p.name}">...</td>
					<td th:text="${p.firstname}">...</td>
					<td th:text="${p.email}">...</td>
					<td th:text="${#dates.format(p.birth_date, 'yyyy-MM-dd')}">...</td>
					<td th:text="${p.organisation}">...</td>
					<td th:if="${event} == null"><div th:if="${p.event} != null"
							th:text="${p.event.intitule}"></div></td>
					<td><a th:href="@{/participant/{id}(id=${p.num_pers})}"
						class="btn btn-sm btn-outline-secondary">Info</a></td>
				</tr>
			</th:block> </thbody>
		</table>
	</div>
</body>
</html>
