<!DOCTYPE html>
<html xmlns=http://www.w3.org/1999/xhtml
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Projet Spring Hibernate</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
</head>
<body>

	<!-- Nav Bar -->
	<ul class="nav navbar-light bg-light justify-content-between">
		<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
		<li class="nav-item">
			<h4 class="nav-link disabled"
				th:if="${participant} != null" th:text="'Information for ' + ${participant.name}"></h4>
			<h4 class="nav-link disabled"
				th:unless="${participant} != null">Information</h4>
		</li>

		<li class="nav-item"><a class="nav-link" href="/event/all">See all events</a></li>
	</ul>
	
	
	<!-- Check if errorMessage is not null and not empty -->
	<div th:if="${errorMessage}" th:utext="${errorMessage}"
		style="color: red; font-style: italic;">...</div>
		
	<!-- Check if successMessage is not null and not empty -->
	<div th:if="${successMessage}" th:utext="${successMessage}"
		style="color: green; font-style: italic;">...</div>


	<!--  Info -->
	<div th:if="${participant} != null">
		<dl class="row">
		
			<dt class="col-sm-3">Name:</dt>
			<dd class="col-sm-9" th:text="${participant.name}" />
	
			<dt class="col-sm-3">Firstname:</dt>
			<dd class="col-sm-9" th:text="${participant.firstname}" />
	
			<dt class="col-sm-3">Email:</dt>
			<dd class="col-sm-9" th:text="${participant.email}" />
	
			<dt class="col-sm-3">Birthdate:</dt>
			<dd class="col-sm-9"
				th:text="${#dates.format(participant.birth_date, 'yyyy-MM-dd')}" />
	
			<dt class="col-sm-3">Organisation:</dt>
			<dd class="col-sm-9" th:text="${participant.organisation}" />
	
			<dt class="col-sm-3">Observations:</dt>
			<dd class="col-sm-9" th:text="${participant.observations}" />
	
	
		</dl>
		
		<a th:href="@{/participant/delete/{id}(id=${participant.num_pers})}" class="btn btn-outline-secondary">Delete</a>
		<a th:href="@{/modifyParticipant/{id}(id=${participant.num_pers})}" class="btn btn-outline-secondary">Modify</a>
	
	</div>
	
	


</body>
</html>