<!DOCTYPE HTML>
<html xmlns=http://www.w3.org/1999/xhtml
xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Participant</title>
    <meta http-equiv="Content-Type" content="text/html;
    charset=UTF-8" />
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    
    <!-- Nav Bar -->
    <ul class="nav navbar-light bg-light justify-content-between">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <h4 class="nav-link disabled" href="#">List of Participants</h4>
        </li>
        
        <li></li>
    </ul>
    
    
    <!-- List Participants -->
    <ul class="nav justify-content-between" th:if="${event} != null">

        <li class="nav-item">
          <h4 class="nav-link disabled" th:text="'Event: ' + ${event.intitule}"/>
        </li>
        <li class="nav-item"> 
            <a th:href="@{/addParticipant/{id}(id=${event.num_event})}" class="nav-link btn-outline-primary">Add participant</a>
    </ul>

    <div class="table-responsive">
	    <table class="table table-striped table-bordered table-hover">
	        <thead class="thead-dark">
	            <tr>
	              <th scope="col-2">Name</th>
	              <th scope="col-2">FirstName</th>
	              <th scope="col-2">Email</th>
	              <th scope="col">Birth Date</th>
	              <th scope="col">Organisation</th>
	            </tr>
	        </thead>
	        <thbody>
	            <th:block th:each="p : ${listParticipant}" scope="row">
	               <tr>
	                  <td th:text="${p.name}">...</td>
	                  <td th:text="${p.firstname}">...</td>
	                  <td th:text="${p.email}">...</td>
	                  <td th:text="${#dates.format(p.birth_date, 'yyyy-MM-dd')}">...</td>
	                  <td th:text="${p.organisation}">...</td>
	               </tr>
	            </th:block>
	        </thbody>
	    </table>
	</div>
</body>
</html>
